.send-cv {
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  display: block;
  padding: 56px 0 30px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../src/img/section/laptop.jpg');

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    font-size: 14px;
    line-height: 2.143;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
  }
}

@media screen and('min-width: 768px') {
  .send-cv {
    padding-top: 66px;
    padding-bottom: 66px;

    .section-title {
      margin-bottom: 54px;

      &:after {
        content: '';
        display: block;
        position: relative;
        top: 5px;
        left: 17%;
        width: 200px;
        background-color: white;
        border: 2.5px solid white;
      }
    }
  }
}