.menu-list-wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 60px;
  text-align: center;
  background-color: #FFF;
  z-index: 2;
  box-shadow: 0 10px 8px rgba(0,0,0,.18);
}

.menu-list {
  padding: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s ease-in-out;

  li {
    position: relative;

    &:last-of-type {

      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      left: 0;
      width: 100%;
      background-color: #d4d4d4;
      height: 1px;
      display: block;
      top: 120%;
    }
  }

  a {
    color: #000;
    text-decoration: none;
    padding: 8px 0;
    display: block;
    width: 100%;
  }
}

.menu-list.open {
  padding: 16px 0 8px 0;
  max-height: 400px;
}

@media screen and ('min-width: 768px') {

  .menu-list {
    overflow: visible;
    flex-direction: row;
    display: flex;
    transition: none;
    max-height: unset;


    li {
      margin-right: 38px;

      &:hover {

        &:after {
          opacity: 1;
        }
      }

      &:after {
        opacity: 0;
      }

      &:last-of-type {
        margin-right: 0;

        &:after {
          display: block;
        }
      }
    }

    a {
      color: #FFF;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 600;

      &:after {
        display: none;
      }
    }

    &-wrapper {
      position: static;
      background-color: transparent;
      box-shadow: none;
    }
  }
}