.app {
  min-width: 320px;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, ::after, ::before {
  box-sizing: inherit;
}

p, ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: auto;
  max-width: 100%;
}

.header {

  &-img {
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../src/img/headers/header1.jpg');
  }
}
