.questions {
  font-family: 'Poppins', sans-serif;

  header {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../../src/img/section/carrer-nowe.jpg');
    background-position-x: 27%;
    padding: 86px 0;
    margin-bottom: 36px;
  }

  .section-title {
    color: #FFF;
    font-size: 46px;
    margin-bottom: 0;
    line-height: 1;
  }

  ul {
    list-style: none;
    color: #666;
  }

  li {
    padding: 20px 0 20px  6px;
    box-shadow: -4px 10px 10px -9px #d6d6d6;
    position: relative;
    margin-bottom: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .question {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
    position: relative;
    padding-right: 72px;
    margin-bottom: 8px;

    &:after {
      content: "+";
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      border: 1px solid;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      opacity: .6;
      color: inherit;
      position: absolute;
      top: calc(50% - 15px);
      left: calc(100% - 50px);
    }
  }

  .answer {
    font-size: 12px;
    font-weight: 300;
    color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height .7s;
    transition-timing-function: linear;
    padding-right: 60px;
  }

  li.open {

    .question {

      &:after {
        content: "-";
      }
    }

    .answer {
      max-height: 500px;
      transition-delay: .5s;
    }
  }
}

@media screen and('min-width: 768px') {
  .questions {

    li {
      padding-bottom: 12px;

      @for $i from 1 through 6 {
        &:nth-of-type(#{$i}) {
          .question {
            &:before {
              content: "0#{$i}.";
            }
          }
        }
      }

      .question {
        padding-left: 46px;
        margin-bottom: 0;

        &:before {
          content: "01.";
          color: #4d9de8;
          font-size: 18px;
          font-weight: 600;
          position: absolute;
          left: 4px;
          top: -4px;
        }
      }

      .answer {
        font-size: 14px;
        padding-left: 4px;
        padding-top: 12px;
      }
    }
  }

}