.SectionTitle {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  margin-bottom: 24px;
  text-align: center;
  color: #666666;
  margin-top: 0;

  &White {
    color: #FFF;
  }
}