.SendCV {
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  display: block;
  padding: 56px 0 30px 0;

  >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  p {
    color: #FFF;
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    position: relative;
    font-size: 14px;
    line-height: 2.143;
    padding: 0 20px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 32px;
  }
}