.teams {

  &-section {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: #f3f3f3;
    font-family: 'Poppins', sans-serif;
  }

  &-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 70%;

    &-header {
      display: none;
    }

    svg {
      margin-bottom: 16px;
    }

    &-title {
      text-transform: uppercase;
      color: #666;
      font-weight: 500;
      text-align: center;
      line-height: 1.3;
      margin-bottom: 20px;
    }

    &-description {
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      font-weight: 300;
      line-height: 1.8;
      text-align: center;
      color: #666666;
    }
  }
}

@media screen and('min-width: 768px') {
  .teams {
    &-item {
      width: 33%;
      margin-bottom: 90px;
      position: relative;

      svg {
        width: 50px;
        height: 50px;
      }

      &:hover {
        cursor: pointer;

        .teams-item-description {
          display: flex;
        }
      }

      &-title {
        font-size: 18px;
        max-width: 150px;
        margin-bottom: 0;
      }

      &-header {
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #666;
        font-size: 18px;
        line-height: 1.3;
        font-weight: 500;
        margin-bottom: 16px;
      }

      &-description {
        display: none;
        width: 375px;
        height: 195px;
        min-height: 195px;
        position: absolute;
        top: -40px;
        background-color: #FFF;
        padding: 8px 32px 8px 32px;
        box-shadow: 0 0 10px 0 #d6d6d6;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        border-radius: 5px;
      }
    }
  }

  .teams-section {
    background-color: #FFF;
    position: relative;

    &:before {
      content: "Zespoły";
      position: absolute;
      font-size: 202px;
      transform: rotate(-90deg);
      display: block;
      left: -17%;
      top: 40%;
      font-weight: bold;
      letter-spacing: 1px;
      color: #f3f3f3;
    }

    .section-title {
      margin-bottom: 126px;
      position: relative;

      &:after {
        content: '';
        display: block;
        position: absolute;
        top: 120%;
        left: calc(50% - 100px);
        width: 200px;
        background-color: #4d9ee9;
        border: 2.5px solid #4d9ee9;
      }
    }

    &-list {
      display: flex;
      flex-wrap: wrap;
      max-width: 940px;
      margin-right: auto;
      margin-left: auto;
    }
  }
}