.numbers {
  display: block;
  padding: 44px 0 40px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../src/img/section/numbers.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;

  &-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #FFF;

    .item {
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: 'Poppins', sans-serif;
      margin-bottom: 44px;
      width: 225px;

      &:last-of-type {
        margin-bottom: 0;
      }

      >div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      span {
        text-align: center;
        margin: 0;
        font-size: 40px;
        margin-bottom: 20px;
        width: 170px;
        font-weight: 500;
        line-height: 1;
      }

      p {
        margin: 0;
        font-size: 14px;
        text-transform: uppercase;
        text-align: center;
        display: block;
        font-weight: 400;
        width: 78%;
      }
    }
  }
}

@media screen and (min-width: 768px){

  .numbers {

    &-list {
      flex-direction: row;

      .item {
        margin-bottom: 0;
        position: relative;
        border: 1px solid #FFF;
        border-top: 0;
        width: 206px;
        height: 160px;
        margin-right: 20px;

        &:last-of-type {
          margin-right: 0 ;
        }

        &:after, &:before {
          content: "";
          width: 60px;
          height: 1px;
          background-color: #FFF;
          position: absolute;
          top: 0;
          left: 0;
        }

        &:after {
          left: calc(100% - 60px);
        }
      }

      img {
        width: 50px;
        height: 50px;
        position: absolute;
        top: -30px;
        left: calc(50% - 25px);
      }
    }
  }
}

@media screen and ('min-width: 1200px') {
  .numbers {
    padding-bottom: 80px;

    &-list {

      .item {
        margin-right: 116px;

        span {
          font-size: 60px;
          font-weight: 600;
          margin-bottom: 8px;
        }

        &:nth-of-type(2) {
          p {
            width: 100%;
          }
        }

        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}