.Container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 16px;
  padding-left: 16px;
  width: auto;
  max-width: 100%;
}

.HeaderImg {
  background-size: cover;
  background-attachment: scroll;
  background-position: center;
}
