.faq {

  header {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../../src/img/section/carrer-nowe.jpg');
    background-position-x: 27%;
    padding: 86px 0;
    margin-bottom: 36px;
  }

  .section-title {
    color: #FFF;
    font-size: 46px;
    margin-bottom: 0;
    line-height: 1;
  }
}