.ButtonLink {
  width: 218px;
  height: 48px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.286;
  border-radius: 25px;
  text-transform: uppercase;
  z-index: 1;
  box-shadow: none;
  background-color: transparent;
  border: 1px solid #fff;
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  text-decoration: none;
  outline: none;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #FFF;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition-property: transform;
    transition-duration: .6s;
    transition-timing-function: ease-out;
    z-index: -1;
  }

  &:hover {
    border: 1px solid #fff;
    background-color: #fff;
    color: #666;
    cursor: pointer;

    &:before {
      transform: scaleX(1);
      transition-timing-function: cubic-bezier(0.45, 1.64, 0.47, 0.66);
    }
  }
}

.BlueButton {
  border: 1px solid #4d9de8;
  color: #4d9de8;
  line-height: 1.286;

  &:before {
    display: none;
  }

  &:hover {
    background-position: right center;
    background-image: -webkit-linear-gradient(0deg, #3d87cc 0%, #4e9ee9 52.002%, #54a4ee 100%);
    color: white;
  }
}