.QAndA {
  font-family: 'Poppins', sans-serif;

  header {
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url('../../../src/img/section/carrer-nowe.jpg');
    background-position-x: 27%;
    padding: 86px 0;
    margin-bottom: 36px;
  }

  .section-title {
    color: #FFF;
    font-size: 46px;
    margin-bottom: 0;
    line-height: 1;
  }


  ul {
    list-style: none;
    color: #666;
  }

  li {
    padding: 16px 80px 16px 0;
    box-shadow: -4px 10px 10px -9px #d6d6d6;
    position: relative;
    margin-bottom: 8px;

    &:hover {
      cursor: pointer;
    }
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    border: 1px solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    opacity: .6;
    color: inherit;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(100% - 50px);
  }

  .question {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
  }

  .answer {
    font-size: 12px;
    font-weight: 300;
    color: inherit;
    max-height: 0;
    overflow: hidden;
    transition: max-height .5s;
  }

  li.open {

    .question {
      margin-bottom: 20px;
    }

    .answer {
      max-height: 500px;
    }
  }
}